.navbar-toggler[b-b5wscdn8ts] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-b5wscdn8ts] {
    height: 3.5rem;
    background-color: white;
    border-bottom: 2px solid #f7f7f7;
}

.navbar-brand[b-b5wscdn8ts] {
    font-size: 1.1rem;
}

.oi[b-b5wscdn8ts] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}


.nav-item[b-b5wscdn8ts]  a.active {
    background-color: #0d6efd;
    color: white;
}


@media (min-width: 641px) {
    .navbar-toggler[b-b5wscdn8ts] {
        display: none;
    }

    .collapse[b-b5wscdn8ts] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-b5wscdn8ts] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
